.content{
    text-align: center;
    width: 700px;
    margin-left: 30%;
}
.list{
    list-style-type: none;
    
}
.items{
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

}
.items span{
    border-bottom: 5px;
    border-color: black;
}